*.pdf filter=lfs diff=lfs merge=lfs -text
*.cad filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.xlsm filter=lfs diff=lfs merge=lfs -text
*.docs filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.dot filter=lfs diff=lfs merge=lfs -text
*.one filter=lfs diff=lfs merge=lfs -text
*.onetoc2 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.ZIP filter=lfs diff=lfs merge=lfs -text
*.zip.* filter=lfs diff=lfs merge=lfs -text
*.ZIP.* filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.RAR filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.7Z filter=lfs diff=lfs merge=lfs -text
*.7z.* filter=lfs diff=lfs merge=lfs -text
*.7Z.* filter=lfs diff=lfs merge=lfs -text
*.sldprt filter=lfs diff=lfs merge=lfs -text
*.slddrw filter=lfs diff=lfs merge=lfs -text
*.sldasm filter=lfs diff=lfs merge=lfs -text
*.xrl filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.xps filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jfif filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
*.CAD filter=lfs diff=lfs merge=lfs -text
*.XLSX filter=lfs diff=lfs merge=lfs -text
*.PPTX filter=lfs diff=lfs merge=lfs -text
*.PPT filter=lfs diff=lfs merge=lfs -text
*.XLS filter=lfs diff=lfs merge=lfs -text
*.XLSM filter=lfs diff=lfs merge=lfs -text
*.DOCS filter=lfs diff=lfs merge=lfs -text
*.DOCX filter=lfs diff=lfs merge=lfs -text
*.DOT filter=lfs diff=lfs merge=lfs -text
*.SLDPRT filter=lfs diff=lfs merge=lfs -text
*.SLDDRW filter=lfs diff=lfs merge=lfs -text
*.SLDASM filter=lfs diff=lfs merge=lfs -text
*.AVI filter=lfs diff=lfs merge=lfs -text
*.MP4 filter=lfs diff=lfs merge=lfs -text
*.MOV filter=lfs diff=lfs merge=lfs -text
*.HEIC filter=lfs diff=lfs merge=lfs -text
*.XPS filter=lfs diff=lfs merge=lfs -text
*.TIF filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.JFIF filter=lfs diff=lfs merge=lfs -text
*.RData filter=lfs diff=lfs merge=lfs -text
*.ginspect filter=lfs diff=lfs merge=lfs -text
*.pcw filter=lfs diff=lfs merge=lfs -text
*.PCW filter=lfs diff=lfs merge=lfs -text
*.gxw filter=lfs diff=lfs merge=lfs -text
*.GXW filter=lfs diff=lfs merge=lfs -text
*.gtx filter=lfs diff=lfs merge=lfs -text
*.GTX filter=lfs diff=lfs merge=lfs -text
*.dwg filter=lfs diff=lfs merge=lfs -text
*.DWG filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.RDS filter=lfs diff=lfs merge=lfs -text
*.ssfx filter=lfs diff=lfs merge=lfs -text
*.SSFX filter=lfs diff=lfs merge=lfs -text
*.heic filter=lfs diff=lfs merge=lfs -text
*.HEIC filter=lfs diff=lfs merge=lfs -text
*.pra filter=lfs diff=lfs merge=lfs -text
*.PRA filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.STL filter=lfs diff=lfs merge=lfs -text
*.mx4 filter=lfs diff=lfs merge=lfs -text
*.MX4 filter=lfs diff=lfs merge=lfs -text
*.mlg filter=lfs diff=lfs merge=lfs -text
*.MLG filter=lfs diff=lfs merge=lfs -text
*.mhl filter=lfs diff=lfs merge=lfs -text
*.MHL filter=lfs diff=lfs merge=lfs -text
*.feather filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.arrows filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.msg filter=lfs diff=lfs merge=lfs -text
*.cprt filter=lfs diff=lfs merge=lfs -text
*.casm filter=lfs diff=lfs merge=lfs -text
*.csht filter=lfs diff=lfs merge=lfs -text
*.cviw filter=lfs diff=lfs merge=lfs -text
*.mtw filter=lfs diff=lfs merge=lfs -text
*.MTW filter=lfs diff=lfs merge=lfs -text
*.DF filter=lfs diff=lfs merge=lfs -text
*.df filter=lfs diff=lfs merge=lfs -text
*.DG filter=lfs diff=lfs merge=lfs -text
*.dg filter=lfs diff=lfs merge=lfs -text
*.IO filter=lfs diff=lfs merge=lfs -text
*.io filter=lfs diff=lfs merge=lfs -text
*.SV filter=lfs diff=lfs merge=lfs -text
*.sv filter=lfs diff=lfs merge=lfs -text
*.VR filter=lfs diff=lfs merge=lfs -text
*.vr filter=lfs diff=lfs merge=lfs -text
*.TP filter=lfs diff=lfs merge=lfs -text
*.tp filter=lfs diff=lfs merge=lfs -text
*.dic filter=lfs diff=lfs merge=lfs -text

